@model WidgetStore.ViewModels.UserAccountViewModel

@{
    <form action="" id="createUserForm">
        <div class="formDiv">
            <table id="searchTable">
                <tr>
                    <td>Name:</td>
                    <td>@Html.TextBox("Name")</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Html.TextBox("Email")</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>@Html.Password("Password")</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-default" type="submit" value="Save"></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="errorMessage"></td>
                </tr>
            </table>
        </div>
    </form>

    <script>

    $('#createUserForm').submit(function (e) {
        e.preventDefault();
        if (validateCreateUserForm()) {
            $.ajax({
                url: '@Url.Action("CreateUserAccount", "Home")',
                        type: 'POST',
                        data: $('#createUserForm').serialize(),
                        success: function (msg) {
                            if (msg != "") {
                                $("#errorMessage").html(msg);
                            }
                            else {
                                document.location.reload();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + ", " + thrownError);
                        }
                    });
                }
            });

    function validateCreateUserForm() {
        var errorMsg = "";
        var fieldValue;
        var re = /^[A-Z0-9._%+-]+@('@')([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;

        var fieldNameArray = new Array("Email", "Password", "PilotName");
        var fieldLabelArray = new Array("Email", "Password", "Pilot Name");
        for (var i = 0; i < fieldNameArray.length; i++) {

            fieldValue = $("#createUserForm input[name= "+fieldNameArray[i]+"]").val();
            if (fieldValue == "") {
                errorMsg += "Please enter a value for " + fieldLabelArray[i] + " \n";
            }
        }

        fieldValue = $("#createUserForm input[name=Email]").val();
        if (fieldValue != ""  && !re.test(fieldValue)) {
            errorMsg += "Please provide a valid Email address.\n";
        }

        if (errorMsg != "") {
            alert(errorMsg);
            return false;
        }
        else {
            return true;
        }
    }
    </script>
}