@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Widget Store</h1>
    <p class="lead">All of your widget needs.</p>
    <p class="btn btn-primary btn-lg">Learn more</p>
</div>

<div class="row">
 
</div>